<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="master">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
<head>
    <style>
        .venta-table {
            margin-top: 20px;
        }

        .producto-table {
            margin-bottom: 0;
        }

        .btn-agregar {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<main layout:fragment="contenido" class="container">
    <div class="row">
        <div class="col-12">
            <h2>Ventas</h2>
            <div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
                 class="alert alert-dismissible fade show">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <span th:text="${mensaje}"></span>
            </div>
            <a class="btn btn-success btn-agregar" th:href="@{/vender/}"><i class="bi bi-receipt"></i> Agregar Venta</a>
            <div class="table-responsive venta-table">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                    <tr>
                        <th>Datos de Productos</th>
                        <th>Fecha de la Venta</th>
                        <th>Total General</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="venta : ${ventas}">
                        <td>
                            <table class="table table-bordered producto-table">
                                <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Nombre</th>
                                    <th>Cantidad vendida</th>
                                    <th>Precio</th>
                                    <th>Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="producto : ${venta.productos}">
                                    <td th:text="${producto.codigo}"></td>
                                    <td th:text="${producto.nombre}"></td>
                                    <td th:text="${producto.cantidad}"></td>
                                    <td th:text="${producto.precio}"></td>
                                    <td th:text="${producto.total}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                        <td th:text="${venta.fechaYHora}"></td>
                        <td th:text="${venta.total}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>